@import url('https://fonts.googleapis.com/css2?family=Anton+SC&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Anton+SC&family=Pacifico&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=Anton+SC&family=Pacifico&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Playwrite+MX:wght@100..400&display=swap');
:root{
    --cor-da-letra:none;
    --cor-de-fundo: rgb(225, 0, 255);
    --fundo-senha:  linear-gradient(to right, rgb(0, 238, 255) , rgb(0, 0, 0) 35%);
    --fundo-texto: linear-gradient(to bottom right, purple 15%, black 65%);
    --borda: rgb(255, 255, 255);  
    --fonte:"Anton SC", sans-serif;
    --fonte2: "Pacifico", cursive;
    --fonte3:"Alfa Slab One", serif;
    --fonte4:"Playwrite MX";
}

body{
    color: var(--cor-da-letra);
    background-image: linear-gradient(to right, rgb(70, 186, 221), rgb(0, 0, 0));
    font-family: var(--fonte);
}
.titulo-principal{
    font-size: 77px;
    font-family:var(--fonte2);
    color: rgb(33, 63, 119);
}
.titulo-secundario{
    background-image: linear-gradient(to bottom, rgb(28, 0, 128), black 90%);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    font-size: 70px;
}
.conteudo{

    width: 1200px;
    margin: 0 auto;
    text-align: center;
    font-size: 35px;
    }
    
img{
    
    width: 90px;
    }

    .conteudo-titulo{
        text-align: center;
        margin-top: 80px;
    }
    .conteudo-senha{
        margin-top: 80px;
        padding: 10px;
        border-bottom: 10px solid var(--borda);
        background-image: linear-gradient(to top left, black, purple);
        font-family: var(--fonte3);
        font-size: 50px;
        color: var(--cor-gradient);
       
    }
    #campo-senha{
        background-image: var(--fundo-senha) ;
        border:none;
        color: var(--cor-da-letra);
        width: 70%;
        font-size: 40px;
    }
    #campo-senha:focus{
        outline: none;
        background-color: rgb(115, 98, 192);
    }
.parametro{
    background-image: var(--fundo-texto);
    border: 2px solid var(--borda);
    margin-top: 40px;
    padding: 15px;
}
.parametro-titulo{
    font-family: var(--fonte4);
    text-align: left;
    margin-top: 0%;
    font-size: 40px;
    color: rgb(0, 0, 0);
}
.parametro-senha-titulo{
    justify-content: space-around;
    background-image: linear-gradient( rgb(28, 0, 128), black);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
}
.parametro-coluna-senha{
    display: flex;
    justify-content: space-between;
    align-items: center;
}