@import url('https://fonts.googleapis.com/css2?family=Danfo&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Danfo&family=Libre+Barcode+39+Extended+Text&family=Micro+5+Charted&family=Monoton&family=Zen+Kaku+Gothic+Antique&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Jacquard+24+Charted&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Playwrite+MX:wght@100..400&display=swap');
:root{
    --cor-da-letra: rgb(30, 255, 0);
    --cor-de-fundo: rgb(225, 0, 255);
    --fundo-senha:  rgb(0, 247, 255);
    --fundo-texto: rgb(255, 0, 0);
    --borda: rgb(17, 0, 255);  
    --fonte:"Danfo", "serif";
    --fonte2:"Libre Barcode 39 Extended Text", "system-ui";
    --fonte3:"Jacquard 24 Charted", system-ui;
    --fonte4:"Playwrite MX";
}

body{
    color: var(--cor-da-letra);
    background-color: var(--cor-de-fundo);
    font-family: var(--fonte);
}
.titulo-principal{
    font-size: 77px;
    font-family:var(--fonte2);
    color: rgb(255, 8, 0);
}
.titulo-secundario{
    font-size: 50px;
}
.conteudo{

    width: 1200px;
    margin: 0 auto;
    text-align: center;
    font-size: 35px;
    }
    
img{
    
    width: 90px;
    }

    .conteudo-titulo{
        text-align: center;
        margin-top: 80px;
    }
    .conteudo-senha{
        margin-top: 80px;
        background: var(--fundo-senha);
        padding: 10px;
        border-bottom: 10px solid var(--borda);
        color: rgb(255, 0, 255);
        font-family: var(--fonte3);
        font-size: 50px;
    }
    #campo-senha{
        background-color: var(--fundo-senha) ;
        border:none;
        color: var(--cor-da-letra);
        width: 70%;
        font-size: 40px;
    }
    #campo-senha:focus{
        outline: none;
        background-color: blueviolet;
    }
.parametro{
    background-color: var(--fundo-texto);
    border: 2px solid var(--borda);
    margin-top: 40px;
    padding: 15px;
}
.parametro-titulo{
    font-family: var(--fonte4);
    font-size: 40px;
    color: rgb(46, 184, 87);
}